<script type="text/javascript">
$(document).ready( function() {
	$('#filters').stickySidebar();
	
	$('#tabs ul').idTabs();
	
	$('.entry_map img').each( function(index) {
		var address = $('#entry_address' + index).val().replace(/[\t\n\r]/gi, " ");
		$(this).attr('src', 'http://maps.googleapis.com/maps/api/staticmap?center='+
		address+'&zoom=14&size=130x130&sensor=false');
	});
});
</script>

<div id='sidebar'>
<div id='filters_content'>
	<b>SORT ITEMS BY</b>
	<ul id='sort'>
		<li><%= image_tag "../images/checkbox.png" %> Most Recent</li>
		<li><%= image_tag "../images/checkbox.png" %> Most Popular</li>
		<li><%= image_tag "../images/checkbox.png" %> Following</li>
	</ul>
	<br>
	<b>KEYWORD SEARCH</b>
	<br>
	<%= image_tag "../images/textbox.png", :class=>'textbox' %>
	<br><br>
	<b>SHOW ITEMS FROM</b>
	<br>
	<%= image_tag "../images/textbox.png", :class=>'textbox' %>
	<br><br>
	<b>VIEW CATEGORIES</b>
	<ul>
		<li><%= image_tag "../images/checkbox.png" %> Commerce</li>
		<li><%= image_tag "../images/checkbox.png" %> Civil Rights</li>
		<li><%= image_tag "../images/checkbox.png" %> Health & Safety</li>
		<li><%= image_tag "../images/checkbox.png" %> History</li>
		<li><%= image_tag "../images/checkbox.png" %> Kids/Education</li>
		<li><%= image_tag "../images/checkbox.png" %> Public Space</li>
		<li><%= image_tag "../images/checkbox.png" %> Transportation</li>
	</ul>
</div>
<!--<%= link_to "summary", :category => ["fish", "sticks"] %>-->
</div>
<div id='main_content'>
<% @collection.each_with_index do |entry, index| %>
<div class='entry_main'>
	<div class='entry_author'>
		<%= image_tag "../images/default_avatar.png", :class=>'user_avatar', :size=>'60x60', :alt => "User avatar" %>
		<%=h entry[0].user.picture %> 
		<br>
		<%=h entry[0].user.login %>
		<br>
		<%= entry[0].created_at.strftime("%m/%d/%y") %>
		<br>
		<% if entry[0].created_at != entry[0].updated_at %>
			Updated <%= time_ago_in_words(entry[0].updated_at) %> ago
		<% end %>
	</div>
	<div class='entry_map'>
		<img>
		<%= hidden_field_tag 'entry_address' + index.to_s, entry[0].location %>
	</div>
	<div class='entry_title'>
		<b><%= link_to entry[0].title, entry[0], :class=>'black_link' %></b>
	</div>	
	<div class='entry_stats'>
		<ul>
		<li><%= pluralize(entry[1].length, 'Response') %></li>
		<li><%= pluralize(0, 'Follower') %></li>
		<% if entry[0].instance_of? Question %>
			<li><%= pluralize(0, 'Challenge') %></li>
			<li><%= pluralize(0, 'Event') %></li>	
		<% end %>
		</ul>
	</div>
	<% if !entry[1][-1].nil? %>
		<div class='latest_response'>
			<i>Latest Response</i>
			<br>
		    <%=h truncate(entry[1][-1].response, :length=>150) %>
		</div>
	<% end %>
	<br>
</div>
<br>
<% end %>
</div>
