<script type="text/javascript">
$(document).ready( function() {
	$('#filters').stickySidebar();
	
	$('#tabs ul').idTabs();
	
	$('.entry_map img').each( function(index) {
		var address = $('#entry_address' + index).val().replace(/[\t\n\r]/gi, " ");
		$(this).attr('src', 'http://maps.googleapis.com/maps/api/staticmap?center='+
		address+'&zoom=14&size=130x130&sensor=false');
	});
});
</script>

<div id='sidebar'>
<div id='filters_content'>
	<b>SORT ITEMS BY</b>
	<ul>
	<li>
	  <%= check_box_tag 'sort', 'Most Recent' %> Most Recent
	</li>
	<li>
	  <%= check_box_tag 'sort', 'Most Popular' %> Most Popular
	</li>
	<li>
	 <%= check_box_tag 'sort', 'Following' %> Following
	</li>
	</ul>
	<br>
	<b>KEYWORD SEARCH</b>
	<br>
	<%= image_tag "../images/textbox.png", :class=>'textbox' %>
	<br><br>
	<b>SHOW ITEMS FROM</b>
	<br>
	<%= image_tag "../images/textbox.png", :class=>'textbox' %>
	<br><br>
	<b>VIEW CATEGORIES</b>
	<ul>
	<% for category in Categories.find(:all) %>
	<li>
	  <%= check_box_tag category.category, category.category %>
	  <%= category.category %>
	</li>
	<% end %>
	</ul>
</div>
<!--<%= link_to "summary", :category => ["fish", "sticks"] %>-->
</div>
<div id='main_content'>
<% if @collection.length == 0 %>
<div class='individual'>
	<%= link_to 'Be the first to ask a question!', new_question_path, :class=>'black_link' %>
</div>
<% else %>
	<% @collection.each_with_index do |entry, index| %>
	<div class='entry_main'>
		<div class='entry_author'>
			<% if entry[0].instance_of? Question %>
				<% if entry[0].anonymous == 1 %>
					<%= image_tag "../images/default_avatar.png", :class=>'user_avatar', :size=>'60x60', :alt => "User avatar" %>
					<%=h entry[0].user.picture %> 
					<br>
					Anonymous
					<br>
				<% else %>
					<%= image_tag "../images/default_avatar.png", :class=>'user_avatar', :size=>'60x60', :alt => "User avatar" %>
					<%=h entry[0].user.picture %> 
					<br>
					<%=h entry[0].user.login %>
					<br>
				<% end %>
			<% else %>
				<%= image_tag "../images/default_avatar.png", :class=>'user_avatar', :size=>'60x60', :alt => "User avatar" %>
				<%=h entry[0].user.picture %> 
				<br>
				<%=h entry[0].user.login %>
				<br>
			<% end %>
			<%= entry[0].created_at.strftime("%m/%d/%y") %>
			<br>
		</div>
		<div class='entry_map'>
			<img>
			<%= hidden_field_tag 'entry_address' + index.to_s, entry[0].location %>
		</div>
		<div class='entry_title'>
			<b><%= link_to entry[0].title, entry[0], :class=>'black_link' %></b>
		</div>	
		<% if !entry[1][-1].nil? && entry[0].instance_of?(Question) %>
			<br>
			<div class='latest_response'>
				<i>Latest Response:</i>
			    <%=h truncate(entry[1][-1].response, :length=>200) %>
			</div>
		<% end %>
		<% if entry[0].instance_of?(Challenge) && entry[0].description.length > 0 %>
			<br>
			<div class='latest_response'>
			    <%=h truncate(entry[0].description, :length=>200) %>
			</div>
		<% end %>
		<div class='entry_stats'>
			<ul>
			<% if entry[0].instance_of?(Question) %>
				<li><%= pluralize(entry[0].response_questions.length, 'Response') %></li>
			<% elsif entry[0].instance_of?(Challenge) %>
				<li><%= pluralize(entry[0].response_challenges.length, 'Response') %></li>
			<% elsif entry[0].instance_of?(Event) %>
				<li><%= pluralize(entry[0].response_events.length, 'Response') %></li>	
			<% end %>
			<li><%= pluralize(0, 'Follower') %></li>
			<% if entry[0].instance_of?(Question) %>
				<li><%= pluralize(entry[0].challenges.length, 'Challenge') %></li>
				<li><%= pluralize(0, 'Event') %></li>	
			<% elsif entry[0].instance_of?(Challenge) %>
				<li><%= pluralize(entry[0].proposals.length, 'Proposals') %></li>
				<li><%= pluralize(entry[0].events.length, 'Event') %></li>
			<% end %>
			<li><b><%= link_to 'Follow', summary_path, :class=>'black_link' %></b></li>
			</ul>
		</div>
	</div>
	<br>
	<% end %>
<% end %>
</div>
