<script type="text/javascript">
$(document).ready( function() {
	$('#filters').stickySidebar();
	
	$('#tabs ul').idTabs();

	draw_maps();

	$('#sort_by li, #sort_by_type li, #categories li').each( function () {
		$(this).click( function() {
			ajax_call();
		});
	});
	
	$('#uncheck').click(function() {
		if ($(this).attr('checked')) {
			$('#sort_by_type li :checked, #categories li :checked, #sort_by li :checked').each( function () {
				$(this).attr('checked', false);
				var params = {};
				params['types'] = ['Questions', 'Challenges', 'Events'];
				$.get('/filter', params, function(data) {
					populate_content(data);
				});
			});	
		};
	});
	$('.follow').click(function() {
		var name = $(this).attr('name');
		var id = name.substring(0, name.indexOf('+'));
		var type = name.substring(name.indexOf('+') + 1);
		follow_unfollow(id, type, true);
	});
	
	$('.unfollow').click(function() {
		var name = $(this).attr('name');
		var id = name.substring(0, name.indexOf('+'));
		var type = name.substring(name.indexOf('+') + 1);
		follow_unfollow(id, type, false);
	});
});

function ajax_call() {
	var params = {};
	$('#uncheck').attr('checked', false);
	sort_by_checked = [];
	$('#sort_by li :checked').each( function () {
		sort_by_checked.push($(this).attr('value'));
	});
	if (sort_by_checked.indexOf('following') != -1) {
		params['following'] = true;
	}
	categories_checked = [];
	$('#categories li :checked').each( function () {
		categories_checked.push($(this).attr('value'));
	});
	types_checked = [];
	$('#sort_by_type li :checked').each( function () {
		types_checked.push($(this).attr('value'));
	});
	if (categories_checked.length > 0) {
		params['category'] = categories_checked;
	}
	if (types_checked.length > 0) {
		params['types'] = types_checked;
	}
	if ($.isEmptyObject(params)) {
		params['types'] = ['Questions', 'Challenges', 'Events'];
	}
	$.get('/filter', params, function(data) {
		populate_content(data);
	});
}

function follow_unfollow(id, type, follow) {
	$('#uncheck').attr('checked', false);
	categories_checked = [];
	$('#categories li :checked').each( function () {
		categories_checked.push($(this).attr('value'));
	});
	types_checked = [];
	$('#sort_by_type li :checked').each( function () {
		types_checked.push($(this).attr('value'));
	});
	var params = {};
	if (categories_checked.length > 0) {
		params['category'] = categories_checked;
	}
	if (types_checked.length > 0) {
		params['types'] = types_checked;
	} else {
		params['types'] = ['Questions', 'Challenges', 'Events'];	
	}
	if (follow) {
		params['follow'] = id;
	} else {
		params['unfollow'] = id;	
	}
	params['itemz'] = type;
	$.get('/filter', params, function(data) {
		populate_content(data);
	});
}
function draw_maps() {
	$('.entry_map img').each( function(index) {
		var address = $('#entry_address' + index).val().replace(/[\t\n\r\s]/gi, "+");
		//$(this).attr('src', 'http://maps.googleapis.com/maps/api/staticmap?center='+address+'&zoom=14&size=130x130&markers=icon:http://chart.apis.google.com/chart?chst=d_map_pin_icon%26chld=cafe%257C996600%7C' + address+'&sensor=false');
		// challenge: http://i42.tinypic.com/2qs86fd.png
		// question: http://i39.tinypic.com/2myrj0y.png
		// event: http://i39.tinypic.com/14bq4p2.png
		$(this).attr('src', 'http://maps.googleapis.com/maps/api/staticmap?center='+address+'&zoom=14&size=130x130&markers=icon:%7C' + address+'&sensor=false');
		
	});
}

function populate_content(content) {
	html_string = '';
	if (content.length == 0) {
		html_string += '<div class="individual">' 
			+ '<%= link_to "Be the first to ask a question!", new_question_path, :class=>"black_link" %>'
			+ '</div>';
	}
	else {
		$.each(content, function (index, entry) {
			html_string += '<div class="entry_main">'
				+ '<div class="entry_author">';
			if (entry['type'] == 'Question') {
				if (entry['entry']['anonymous'] == 1) {
					html_string += '<%= image_tag "../images/default_avatar.png", :class=>"user_avatar", :size=>"60x60", :alt => "User avatar" %>'
						+ '<br>Anonymous<br>';
				} else {
					html_string += '<%= image_tag "../images/default_avatar.png", :class=>"user_avatar", :size=>"60x60", :alt => "User avatar" %><br>'
					+ entry['login'] + '<br>';
				}
			} else {
				html_string += '<%= image_tag "../images/default_avatar.png", :class=>"user_avatar", :size=>"60x60", :alt => "User avatar" %>'
				+ entry['login'] + '<br>';
			}
			html_string += entry['created_at']+ '<br></div>';
			var address = entry['address'].replace(/[\t\n\r\s]/gi, " ");
			html_string += '<div class="entry_map"><img src="http://maps.googleapis.com/maps/api/staticmap?center='+address+'&zoom=14&size=130x130&markers=icon:%7C' + address+'&sensor=false">';		
			html_string += '<%= hidden_field_tag "entry_address' + index + '", ' + address + ' %>'
			 + '<%= hidden_field_tag "entry_type' + index + '", "' + entry['type'] + '" %></div>';
			html_string += '<div class="entry_title"><b>'
			link_to_entry = '/' + entry['type'].toLowerCase() + 's/' + entry['id']
			html_string += '<a class="black_link" href="' + link_to_entry + '">' + entry['entry']['title'] + '</a></b></div>';
			if (entry['type'] == 'Question' && entry['latest_response']) {
				html_string +='<div class="latest_response"><i>Latest Response: </i>' + entry['latest_response'] + '</div>';
			}
			if (entry['type'] == 'Challenge') {
				if (entry['description'].length > 0) {
					html_string +='<div class="latest_response">' + entry['description'] + '</div>';
				}
				html_string += '<div id="challenge_dates"><ul><li><b> Submission Deadline: </b>' + entry['submission_deadline'] + '</li>'
					+ '<li><b> Vote Deadline: </b>' + entry['vote_deadline'] + ' </li></ul></div>';
			}
			if (entry['type'] == 'Event') {
				html_string += '<div id="challenge_dates"><ul><li><b>Submission Deadline: </b>' + entry['date'] + '</li></ul></div>';
			}
			html_string += '<div class="entry_stats"><ul>';
			
			$.each(entry['stats'], function(key, value) {
				html_string += '<li>' + value + ' ' + key;
				html_string += (value == 1) ? '</li>' : 's</li>';
			});
			if (entry['followed']) {
				html_string	+= '<li><b><a class="black_link unfollow" href="javascript:;" name="' + entry['id'] + '+' + entry['type'] + '">Unfollow</a></b></li>';	
			} else {
				html_string	+= '<li><b><a class="black_link follow" id="follow" href="javascript:;" name="' + entry['id'] + '+' + entry['type'] + '">Follow</a></b></li>';		
			}
			html_string += '</ul></div></div><br>'
		});
	}
	$('#main_content').html(html_string);
	
	$('.follow').click(function() {
		var name = $(this).attr('name');
		var id = name.substring(0, name.indexOf('+'));
		var type = name.substring(name.indexOf('+') + 1);
		follow_unfollow(id, type, true);
	});
	
	$('.unfollow').click(function() {
		var name = $(this).attr('name');
		var id = name.substring(0, name.indexOf('+'));
		var type = name.substring(name.indexOf('+') + 1);
		follow_unfollow(id, type, false);
	});
}

</script>

<div id='sidebar'>
<div id='filters_content'>
	<b>SORT ITEMS BY</b>	
	<br>

	<ul id='sort_by'>
	<li>
	  <%= check_box_tag 'sort', 'recent' %> Most Recent
	</li>
	<!--<li>
	  <%= check_box_tag 'sort', 'popular' %> Most Popular
	</li>--> 
	<li>
	 <%= check_box_tag 'sort', 'following' %> Following
	</li>
	</ul>
	<br>
	<b>SORT BY TYPE</b>
	<ul id='sort_by_type'>
	<li>
	  <%= check_box_tag 'sort', 'Questions' %> Questions
	</li>
	<li>
	  <%= check_box_tag 'sort', 'Challenges' %> Challenges
	</li>
	<li>
	 <%= check_box_tag 'sort', 'Events' %> Events
	</li>

	</ul>
	<br>
	<b>KEYWORD SEARCH</b>
	<br>
	<%= image_tag "../images/textbox.png", :class=>'textbox' %>
	<br><br>
	<b>SHOW ITEMS FROM</b>
	<br>
	<%= image_tag "../images/textbox.png", :class=>'textbox' %>
	<br><br>
	<b>VIEW CATEGORIES</b>
	<ul id='categories'>
	<% for category in Categories.find(:all) %>
	<li>
	  <%= check_box_tag 'category', category.id %>
	  <%= category.category %>
	</li>
	<% end %>
	</ul>
	<br>
	<%= check_box_tag 'uncheck', 'Uncheck All' %> Uncheck All
</div>
</div>
<div id='main_content'>
<% if @collection.length == 0 %>
<div class='individual'>
	<%= link_to 'Be the first to ask a question!', new_question_path, :class=>'black_link' %>
</div>
<% else %>
	<% @collection.each_with_index do |entry, index| %>
	<div class='entry_main'>
		<div class='entry_author'>
			<% if entry[0].instance_of? Question %>
				<% if entry[0].anonymous == 1 %>
					<%= image_tag "../images/default_avatar.png", :class=>'user_avatar', :size=>'60x60', :alt => "User avatar" %>
					<%=h entry[0].user.picture %> 
					<br>
					Anonymous
					<br>
				<% else %>
					<%= image_tag "../images/default_avatar.png", :class=>'user_avatar', :size=>'60x60', :alt => "User avatar" %>
					<%=h entry[0].user.picture %> 
					<br>
					<%=h entry[0].user.login %>
					<br>
				<% end %>
			<% else %>
				<%= image_tag "../images/default_avatar.png", :class=>'user_avatar', :size=>'60x60', :alt => "User avatar" %>
				<%=h entry[0].user.picture %> 
				<br>
				<%=h entry[0].user.login %>
				<br>
			<% end %>
			<%= entry[0].created_at.strftime("%Y %b %d") %>
			<br>
		</div>
		<div class='entry_map'>
			<img>
			<%= hidden_field_tag 'entry_address' + index.to_s, entry[0].location %>
			<%= hidden_field_tag 'entry_type' + index.to_s, entry[0].class %>
		</div>
		<div class='entry_title'>
			<b><%= link_to entry[0].title, entry[0], :class=>'black_link' %></b>
		</div>	
		<% if !entry[1][-1].nil? && entry[0].instance_of?(Question) %>
			<div class='latest_response'>
				<i>Latest Response:</i>
			    <%=h truncate(entry[1][-1].response, :length=>200) %>
			</div>
		<% end %>
		<% if entry[0].instance_of?(Challenge) && entry[0].description.length > 0 %>
			<div class='latest_response'>
			    <%=h truncate(entry[0].description, :length=>200) %>
			</div>
		<% end %>
		<% if entry[0].instance_of?(Challenge) %>
		<div id='challenge_dates'>
			<ul>
				<li><b> Submission Deadline: </b> <%= entry[0].submission_deadline.strftime("%Y %b %d") %> </li>
				<li><b> Vote Deadline: </b> <%= entry[0].vote_deadline.strftime("%Y %b %d") %> </li>
			</ul>
		</div>
		<% end %>
		<% if entry[0].instance_of?(Event) %>
		<div id='challenge_dates'>
			<ul>
				<li><b> Date: </b> <%= entry[0].time.strftime("%Y %b %d") %> </li>
			</ul>
		</div>
		<% end %>
		<div class='entry_stats'>
			<ul>
			<% if entry[0].instance_of?(Question) %>
				<li><%= pluralize(entry[0].response_questions.length, 'Response') %></li>
				<li><%= pluralize(entry[0].followed_questions.length, 'Follower') %></li>
			<% elsif entry[0].instance_of?(Challenge) %>
				<li><%= pluralize(entry[0].response_challenges.length, 'Response') %></li>
				<li><%= pluralize(entry[0].followed_challenges.length, 'Follower') %></li>
			<% elsif entry[0].instance_of?(Event) %>
				<li><%= pluralize(entry[0].response_events.length, 'Response') %></li>
				<li><%= pluralize(entry[0].followed_events.length, 'Follower') %></li>	
			<% end %>
			<% if entry[0].instance_of?(Question) %>
				<li><%= pluralize(entry[0].challenges.length, 'Challenge') %></li>
				<li><%= pluralize(0, 'Event') %></li>	
			<% elsif entry[0].instance_of?(Challenge) %>
				<li><%= pluralize(entry[0].proposals.length, 'Proposals') %></li>
				<li><%= pluralize(entry[0].events.length, 'Event') %></li>
			<% end %>
			<% if entry[0].instance_of?(Question) %>
				<% if entry[0].followed_questions.find_by_user_id(current_user.id) != nil %>
				<li><b><a class="black_link unfollow" href="javascript:;" name="<%= entry[0].id %>+Question">Unfollow</a></b></li>
				<% else %>
				<li><b><a class="black_link follow" href="javascript:;" name="<%= entry[0].id %>+Question">Follow</a></b></li>
				<% end %>
			<% elsif entry[0].instance_of?(Challenge) %>
				<% if entry[0].followed_challenges.find_by_user_id(current_user.id) != nil %>
				<li><b><a class="black_link unfollow" href="javascript:;" name="<%= entry[0].id %>+Challenge">Unfollow</a></b></li>
				<% else %>
				<li><b><a class="black_link follow" href="javascript:;" name="<%= entry[0].id %>+Challenge">Follow</a></b></li>
				<% end %>
			<% elsif entry[0].instance_of?(Event) %>
				<% if entry[0].followed_events.find_by_user_id(current_user.id) != nil %>
				<li><b><a class="black_link unfollow" href="javascript:;" name="<%= entry[0].id %>+Event">Unfollow</a></b></li>
				<% else %>
				<li><b><a class="black_link follow" href="javascript:;" name="<%= entry[0].id %>+Event">Follow</a></b></li>
				<% end %>
			<% end %>
			</ul>
		</div>
	</div>
	<br>
	<% end %>
<% end %>
</div>
