<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

SPLASH PAGE


<ul>
    <li>
        <%=link_to "Home", home_index_path %>
    </li>
	<li>
        <%=link_to "User", profile_path %>
    </li>
	<li>
        <%=link_to "Discussion", summary_path %>
    </li>
	<li>
        <%=link_to "Discussion - Specific Post", specific_path %>
    </li>
	<li>
        <%=link_to "Ask", ask_path %>
    </li>
	<li>
        <%=link_to "Challenge", challenge_path %>
    </li>
	<li>
        <%=link_to "Register", register_path %>
    </li>
	<li>
        <%=link_to "Map", map_path %>
    </li>
	
</ul>x