<style type="text/css">
#content {
	background-color: rgba(255, 255, 255, 0.5);
	padding:10px;
}
#content table, th, td {
	border: 1px ridge gray;
	margin: 0;
}
</style>
<div id='content'>
<h2>Sent Messages </h2>
<table style='width:50%' cellspacing='0'>
  <tr>
    <th style='width:33%'>Subject</th>
    <th style='width:33%'>Body</th>
    <th style='width:33%'>User</th>
  </tr>
<% @messages.each do |x| %>
  <tr>
	<% x.message_copys.each do |msg| %>
	<td >
	 <%=h x.subject %>
	</td>
	<td>
	 <%=h x.body %>
	</td>
	<td>
	<% if msg.user != nil %>
		<%=h msg.user.login %>
	<% else %>
		<%= msg.user_id %>
	<% end %>
	</td>	
	<% end %>
  </tr>
<% end %>
</table>
<br>
<%= link_to 'Send a message', '/messages/new', :class=>'black_link' %>
</div>