<script type="text/javascript">
$(document).ready( function() {
	$('#related_content').stickySidebar();
	
	$('#tabs ul').idTabs();
	
	var map;
    var myOptions = {
    	zoom: 8,
    	center: new google.maps.LatLng(37.87159260,-122.2727470), // Berkeley, CA
    	mapTypeId: google.maps.MapTypeId.ROADMAP
	};
   	map = new google.maps.Map(document.getElementById('map_canvas'), myOptions);


	if ($('#question_location').val() != '') {
		center_map(map);
	}

	$('#question_location').blur( function() {
		center_map(map);
	});	
	
});

function center_map(map) {
	var geocoder = new google.maps.Geocoder();
	var address = $.trim(address = $('#question_location').val().replace(/[\t\n\r]/gi, ""));
	    geocoder.geocode( { 'address': address}, function(results, status) {
	      if (status == google.maps.GeocoderStatus.OK) {
	        map.setCenter(results[0].geometry.location);
	        var marker = new google.maps.Marker({
	            map: map,
	            position: results[0].geometry.location
	        });
	      } else {
			console.log('Invalid Location: ' + address);
	      }
	});
}
</script>

<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>
      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<%= f.label :title %>
	<br>
	<%= f.text_area :title, :rows=>3 %>
	<br><br>
	<%= f.label :location %>
	<br>
	<%= f.text_area :location, :rows=>2 %>
	<br><br>
	<div id="map_canvas"></div>
	<br>
	<%= f.label :description %>
	<br>
	<%= f.text_area :description, :rows=>3 %>
	<br><br>
	<%= f.check_box :anonymous %>
	<%= f.label 'Post anonymously' %>
	<br><br>
	<%= f.label 'Categories' %>
	<br>
	<%= f.select(:category_id, Categories.all.collect {|c| [ c.category, c.id] }, {:include_blank => 'Other'})%>
	<br><br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

