<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<%= f.label :title %>
	<br>
	<%= f.text_field :title %>
	<br><br>
	<%= f.label :description %>
	<br>
	<%= f.text_area :description %>
	<br><br>
	<%= f.label :location %>
	<br>
	<%= f.text_field :location %>
	<br><br>
	<%= f.label :x_coordinate %>
	<br>
	<%= f.text_field :x_coordinate %>
	<br><br>
	<%= f.label :y_coordinate %>
	<br>
	<%= f.text_field :y_coordinate %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

