
<h1>Questions</h1>

<ul>
<% @questions.each do |question| %>
  <li>
	<p>
	  <b>Title:</b>
	  <%=h question.title %>
	</p>

	<p>
	  <b>Description:</b>
	  <%=h question.description %>
	</p>

	<p>
	  <b>Location:</b>
	  <%=h question.location %>
	</p>
	<br>
    <%= link_to 'Show', question, :class=>'gray_text' %>
    <%= link_to 'Edit', edit_question_path(question), :class=>'gray_text' %>
    <%= link_to 'Destroy', question, confirm: 'Are you sure?', method: :delete, :class=>'gray_text' %>
  </li>
<% end %>
</table>

</ul>
<br />

<%= link_to 'New Question', new_question_path, :class=>'gray_text' %>
