<script type="text/javascript">
$(document).ready( function() {
	$('#related_content').stickySidebar();
	
	$('#tabs ul').idTabs();
	
	var map;
    var myOptions = {
    	zoom: 14,
    	center: new google.maps.LatLng(37.87159260,-122.2727470), // Berkeley, CA
    	mapTypeId: google.maps.MapTypeId.ROADMAP
	};
   	map = new google.maps.Map(document.getElementById('map_canvas'), myOptions);

    var geocoder = new google.maps.Geocoder();
	var address = $.trim(address = $('#question_location').val().replace(/[\t\n\r]/gi, ""));
	    geocoder.geocode( { 'address': address}, function(results, status) {
	      if (status == google.maps.GeocoderStatus.OK) {
	        map.setCenter(results[0].geometry.location);
	        var marker = new google.maps.Marker({
	            map: map,
	            position: results[0].geometry.location
	        });
	      }
	});
	
});
</script>
<style type="text/css">
</style>
<div id='user_sidebar'>
	<% if @question.anonymous != 1 %>
		<b>About <%= @question.user.login %> </b>
		<br>
		<%= image_tag "../images/default_avatar.png", :class=>'user_avatar', :size=>'100x100', :alt => "User avatar" %>
		<%= @question.user.picture %> 
		<br>
		<b>Joined:</b> <%= @question.user.created_at.strftime("%Y %b %d")%>
		<br>
		<b>Questions:</b> <%= @question.user.questions.length %>
		<br>
		<b>Responses:</b> <%= @question.user.response_questions.length + @question.user.response_challenges.length + @question.user.response_events.length %>
		<br>
		<b>Challenges:</b> <%= @question.user.challenges.length %>
		<br>
		<br>
		<b><%= link_to 'Recent Activity', summary_path, :class=>'black_link' %></b>
		<br>
		<b><%= link_to 'Follow', summary_path, :class=>'black_link' %></b>
	<% end %>
</div>
<div id='main_question_content'>
<div id='question_main'>
	<span id='question_map'>
		<div id="map_canvas"></div>
		<%=h @question.location %>
		<%= hidden_field(:question, :location) %>
	</span>
	<span id='question_title_display'>
		<b><%= @question.title %></b>
	</span>
	<br><br>
	<span id='question_author'>
		<% if @question.anonymous != 1 %>
		<%= image_tag "../images/default_avatar.png", :class=>'user_avatar', :size=>'30x30', :alt => "User avatar" %>
		<%=h @question.user.picture %> by <%= @question.user.login %> |
		<% else %>
		Anonymous | 
		<% end %>
		<%= @question.created_at.strftime("%Y %b %d") %> | <%= @category.category %> |
		<%= link_to 'Follow', summary_path, :class=>'black_link' %> | 
		<%= link_to 'Share', summary_path, :class=>'black_link' %>
	</span>
	<br>
	<br>

</div>
<% if @question.description.length > 0 %>
	<br>
	<div class='individual'>
		<span id='question_description'>
			<%= @question.description %> 
		</span>
	</div>
<% end %>
<div id='tabs'>
<br>
<div id='tabs_menu'>	
<ul>
	<li><b><a href="#responses">Responses</a></b></li>
	<li>|</li>
	<li><b><a href="#challenges">Challenges</a></b></li>
	<li>|</li>
	<li><b><a href="#events">Events</a></b></li>
</ul>
</div>
<br>
<div id='responses'>
	<% @question.response_questions.reverse_each do |r| %>
		<div class='individual'>
			<% if r.anonymous != 1 %>
				<%= image_tag "../images/default_avatar.png", :class=>'user_avatar', :size=>'30x30', :alt => "User avatar" %>
			    <%= r.user.picture %>
			 	<%=h r.user.login %> |
			<% else %>
				<%= image_tag "../images/default_avatar.png", :class=>'user_avatar', :size=>'30x30', :alt => "User avatar" %>
				Anonymous | 
			<% end %>
		    <%= time_ago_in_words(r.created_at) %> ago
			<br><br>
		    <%=h r.response %>
		</div>
		<br>
	<% end %>
	<div id='response_form'>
		Add Response
		<br>
		<%= form_for([@question, ResponseQuestion.new]) do |r| %>
		    <%= r.text_area :response, :rows => 3 %>
			<br>
			<%= r.check_box :anonymous %>
			<%= r.label 'Post anonymously' %>
			<br>
		    <%= r.submit "Submit" %>
		<% end %>
	</div>
</div>

<div id='challenges'>
	<% @question.challenges.each do |c| %>
		<div class='individual'>
			<div class='entry_author'>
				<%= image_tag "../images/default_avatar.png", :class=>'user_avatar', :size=>'60x60', :alt => "User avatar" %>
				<%=h c.user.picture %> 
				<br>
				<%=h c.user.login %>
				<br>
				<%= c.created_at.strftime("%Y %b %d") %>
				<br>
			</div>
			<div class='entry_title'>
				<b><%= link_to c.title, c, :class=>'black_link' %></b>
			</div>	
			<br>
			<div class='latest_response'>
			    <%=h c.description %>
				<ul>
					<li><b> Submission Deadline: </b> <%= c.submission_deadline.strftime("%Y %b %d") %> </li>
					<li><b> Vote Deadline: </b> <%= c.vote_deadline.strftime("%Y %b %d") %> </li>
				</ul>
			</div>
		</div>
		<br>
	<% end %>

	<div id='challenge_form'>
		Add Challenge
		<br>
		<%= form_for [@challenge, Challenge.new] do |c| %>
		  <p>
		    <%= c.label :title, "Title" %>
			<br>
		    <%= c.text_field :title %>
		  </p>
			<%= c.hidden_field :question_id, :value => @question.id %>
		  <p>
		    <%= c.label :description, "Description" %>
			<br>
		    <%= c.text_area :description, :rows=>3 %>
		  </p>
		  <p>
			<%= c.label :location %>
			<br>
			<%= c.text_area :location, :rows=>2 %>
		  </p>
		  <p>
		    <%= c.label :submission_deadline, "Proposal Deadline" %><br />
		    <%= c.datetime_select :submission_deadline %>
		  </p>
		  <p>
		    <%= c.label :vote_deadline , "Vote Deadline" %><br />
		    <%= c.datetime_select :vote_deadline %>
		  </p>
		  <p>
			<%= c.label 'Categories: ' %>
			<br>
			<%= c.select(:categories_id, Categories.all.collect {|c| [ c.category, c.id] }, {:include_blank => 'Other'})%>
			<br>
		  </p>
		  <p>
		    <%= c.submit "Submit" %>
		  </p>
		<% end %>
</div>
</div>
<div id='events'>
	<% @question.challenges.each do |challenge| %>
		<% challenge.events.each do |e| %>
			<div class='individual'>
			 	<%= image_tag "../images/default_avatar.png", :class=>'user_avatar', :size=>'30x30', :alt => "User avatar" %>
			    <%= e.user.picture %>
			 	<%=h e.user.login %> |
		   		<%= time_ago_in_words(e.created_at) %> ago
				<br>
			    <b><%= link_to e.title, e, :class=>'black_link' %></b>
				<br>
			    <%=h e.description %>
				<br>
			    Time: <%=h e.time.strftime("%Y %b %d") %>
			</div>
			<br>
		<% end %>
	<% end %>
</div>
</div>
<br>
<% if @question.user == current_user %>
	<%= link_to 'Edit', edit_question_path(@question), :class=>'black_link' %> |
<% end %>
<%= link_to 'Back To Summary', summary_path, :class=>'black_link' %>
</div>
</div>
