<style type="text/css">
  html { height: 100% }
  body { height: 100%; margin: 0; padding: 0 }
  #map_canvas { height: 100% }
</style>

<script type="text/javascript">
var poly, map;
 var markers = [];
$(document).ready( function() {
	var curiosity;
	var params = {};
	
	$('#mainBox')[0].onpropertychange = 'toggle_submit';
	$('#mainBox')[0].onchange = 'toggle_submit';
	var uluru = new google.maps.LatLng(37.8667186, -122.2533931);
  map = new google.maps.Map(document.getElementById('form_map_canvas'), {
    center: uluru,
    zoom: 12,
   mapTypeId: google.maps.MapTypeId.ROADMAP
  });

  populate_markers();

});

function populate_markers()
{	var uluru;
	var marker;
	var letter = 0;
	<% @items.each do |item| %>
	    uluru = new google.maps.LatLng(<%= item.lat %>, <%= item.lng %>);
	 	 marker = new google.maps.Marker({
	    position: uluru,
	    map: map,
	    draggable: false,
		title: "look at me now!"
	  });
	markers.push(marker);
	letter += 1;
	<% end %>
}

function populate_marker(entry)
{
	
}

function populate_content(data)
{
	curiosity = data;
}
 function toggleDiv(divid){
    if(document.getElementById(divid).style.display == 'none'){
      document.getElementById(divid).style.display = 'block';
    }else{
      document.getElementById(divid).style.display = 'none';
    }
  }
function toggle_visibility(id) {

    if(document.getElementById(id).style.display == 'block') {
       document.getElementById(id).style.display = 'none';
     } else {
       document.getElementById(id).style.display = 'block';
     }
  }

function toggle_submit()
{
	// deal with checkboxes for categories
	/// for popular and my and default
	
	// check the search box
	/// am i doing tagged areas?
	// check box for subscriptions
	//check box for What's Happenign
	// figure out the page we're on
	
	var check;
	var params = {};
	params['category'] = [];
	
	if($('#mainBox')[0].value != undefined )
	{
		  var geocoder = new google.maps.Geocoder();
		var temp= $('#mainBox')[0].value

		geocoder.geocode( { 'address': temp}, function(results, status) { 
		if (status == google.maps.GeocoderStatus.OK) {
			
				params['loc'] = results[0].geometry.location.toString();
				alert("Using geocoded value!");
		}
		else{
			alert("Geocoder was not successful. Going to use default user location instead!")
		
		}
		});
	
	}
	<% @my_areas.each do |area| %>
	  check = $('#area<%= area.id %>')[0].checked;
	if(check)
	{
		params['area_id'] = <%= area.id %>;
	}
	<% end %>
	<% @default_categories.each do |cat| %>
	   check = $('#default<%= cat.id %>')[0].checked;
	if(check)
	{
		params['category'].push(<%= cat.id %>);
	}
	<% end %>
	<% @popular_categories.each do |cat| %>
	  check = $('#popular<%= cat.id %>')[0].checked;
	if(check)
	{
			params['category'].push(<%= cat.id %>);
	}
	<% end %>
	<% @my_categories.each do |cat| %>
	  check = $('#my_categories<%= cat.id %>')[0].checked;
	if(check)
	{
			params['category'].push(<%= cat.id %>);
	}
	<% end %>
	
	var set = [];
	params['types'] = [];
	if($('#QuestionCheck')[0].checked)
	{	params['types'].push('Question');
	}
	if($('#ChallengeCheck')[0].checked)
	{	params['types'].push('Challenge');
	}
	if($('#EventCheck')[0].checked)
	{	params['types'].push('Event');
	}
	$.get('fetch', params, function(data) 
	{
		var html_string = '<ol id="list_results" class="span8"> <br> ';

			$.each(data, function (index, entry)
			  { html_string += '<li>';
				html_string += "title ";
				html_string += entry['title'];
				html_string += " description";
				html_string += entry['description'];
				html_string += '</li> <br>';
				});
			$('#radical').html(html_string);
	});
}

</script>

  <div id="container">
    <div id="content">
      <h5>Showing 1-10 of 100 results</h5>
	 	<div id='radical'>
	     	 <ol id="list_results" class="span8">
		          <br>
				  <% @items.each do |item| %>
		        <li>
				    single result 
					name: <%= item["title"] %>
					description: <%= item["description"] %>
				  </li>
				  <br>
				<% end %>
				<br> <%= will_paginate @items %> SIGH
		          <img src="assets/dummy_searchnav.png">
		      </ol>
		  </div>
      <div class="span3 list_panel_right">
          <div id="form_map_canvas"></div>
          <br><br>
         


          <ul id="filter_menus">
            <li><a href="javascript:;" onmousedown="toggle_visibility('fe1');">List By</a><br>
              <ul class="filter_elements" style="display:block;"  id="fe1">
                <li>
                   <input type="checkbox" value="Question" id="QuestionCheck" onClick="toggle_submit()"> Questions
                </li><li>
                    <input type="checkbox" value="Challenge" id="ChallengeCheck" onClick="toggle_submit()"> Challenges
                </li><li>
                   <input type="checkbox" value="Event" id="EventCheck" onClick="toggle_submit()"> Events
                </li>
              </ul>	
			<br> 
            </li>

            <li>
              <a href="javascript:;" onmousedown="toggle_visibility('fe2');">Categories</a><br>
              <ul class="filter_elements" style="display:block;" id="fe2">
              <% @default_categories.each do |cat| %>
                <li>
                   <input type="checkbox" value="<%= cat.name %>" id="default<%= cat.id %>"onClick="toggle_submit()" > <%= cat.name %>
                </li>
              <% end %>
              </ul>
		
            </li>
            <li><a href="javascript:;" onmousedown="toggle_visibility('fe3');">Popular</a><br>
              <ul class="filter_elements" style="display:none;"  id="fe3">
				 <% @popular_categories.each do |cat| %>
	                <li>
	                 <input type="checkbox" value="<%= cat.name %>" id="popular<%= cat.id %>" onClick="toggle_submit()"> <%= cat.name %>
	                </li>
	               <% end %>
              </ul>
            </li>
            <li><a href="javascript:;" onmousedown="toggle_visibility('fe4');">Personal</a><br>
              <ul class="filter_elements" style="display:none;"  id="fe4">
        		  <% @my_categories.each do |cat| %>
	                <li>
	                 <input type="checkbox" value="<%= cat.name %>" id="my_categories<%= cat.id %>" onClick="toggle_submit()"> <%= cat.name %>
	                </li>
	               <% end %>
              </ul>
            </li>
            <li><a href="javascript:;" onmousedown="toggle_visibility('fe5');">Tagged Areas</a><br>
              <ul class="filter_elements" style="display:none;"  id="fe5">
             	   <% @my_areas.each do |area| %>
	                <li>
	                 <input type="checkbox" value="<%= area.title %>" id="area<%= area.id %>" onClick="toggle_submit()"> <%= area.title %>
	                </li>
	               <% end %>
              </ul>
            </li>
          </ul>
        </div>

    </div>
    <br><br><br>
  </div>

</body>


