<%= form_for(@challenge) do |f| %>
  <% if @challenge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@challenge.errors.count, "error") %> prohibited this challenge from being saved:</h2>

      <ul>
      <% @challenge.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<%= f.label :title %>
	<%= f.text_field :title %>
	<br />
	<%= f.label :description %>
	<%= f.text_area :description %>
	<br />
	<%= f.label :proposal_deadline %><br />
	<%= f.datetime_select :proposal_deadline %>
	<br />
	<%= f.label :review_deadline %><br />
	<%= f.datetime_select :review_deadline %>
	<br />
	<%= f.label :vote_deadline %><br />
	<%= f.datetime_select :vote_deadline %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<!--
Question can't be blank
Title can't be blank
Description can't be blank
Proposal deadline can't be blank
Review deadline can't be blank
Vote deadline can't be blank
-->