<!DOCTYPE html>
<html>
<head>
  <title>City Sandbox</title>
  <%= stylesheet_link_tag    '../stylesheets/stylesheet.css' %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "../javascript/textbox.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
 <body>
    <div id="container">
      <% if params[:controller] != "home" %>
	  	<%= render :partial => 'layouts/navbar' %>
	  <% end %>
    </div>
	
	<%= yield %>
	
	<% if params[:controller] != "home" %>
    	<footer>
		<br><br>
		Copyright &copy; <%= Time.now.year %>
		<a href="http://socialapplab.wordpress.com/">Social Apps Lab AT CITRIS</a>
	      All Rights Reserved.
	    </footer>
	<% end %>
  </body>



</body>
</html>
