<!DOCTYPE html>
<html>
<head>
  <title>City Sandbox</title>
  <%= stylesheet_link_tag    '../stylesheets/stylesheet.css' %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "../javascript/textbox.js" %>
  <%= csrf_meta_tags %>
</head>

<body class="<%= params[:controller] %>">
   <div id="container">
	<% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
	<% end %>
	
     <% if params[:controller] != "home" %>
  		<%= render :partial => 'layouts/navbar' %>
  	 <% end %>
   </div>

	<%= yield %>

	<% if params[:controller] != "home" %>
   	<!--<footer>
	<br><br>
	Copyright &copy; <%= Time.now.year %>
	<a href="http://socialapplab.wordpress.com/">Social Apps Lab AT CITRIS</a>
      All Rights Reserved.
    </footer> -->
<% end %>
 </body>
</html>
