<!DOCTYPE html>
<html>
<head>
  <title>City Sandbox</title>
  <%= stylesheet_link_tag    '../stylesheets/stylesheet.css' %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "../javascript/textbox.js" %>
  <%= javascript_include_tag "../javascript/stickysidebar.js" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
</head>

<style type="text/css">
html {
        background: url('../images/splash_background.png') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}
</style>

<body class="<%= params[:controller] %>">
   <div id="container">
	<% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
	<% end %>
	
	<% if params[:controller] != "home" && params[:controller] != 'users' && params[:controller] != 'sessions'%>
 		<%= render :partial => 'layouts/navbar' %>
 	 <% end %>

   </div>

	 <% if params[:controller] == "questions" %>
  		<div id="main">
		  <%= render :partial => 'layouts/sidebar' %>
		  <div class="flash">
		    <% flash.each do |type, message| -%>
		    <div class="message <%= type %>">
		      <p>
			<%= message %>
		      </p>
		    </div>
		    <% end -%>
		  </div>
		  <div id="content">
		    <%= yield %>
		  </div>
		</div>
	<% else %>
		<%= yield %>
  	 <% end %>

	<% if params[:controller] != "home"  && params[:controller] != 'users' && params[:controller] != 'sessions' %>
		<%= render :partial => 'layouts/footer' %>
<% end %>
 </body>
</html>
