<script type="text/javascript">
$(document).ready( function() {
	var map;
    var myOptions = {
    	zoom: 8,
    	center: new google.maps.LatLng(37.87159260,-122.2727470), // Berkeley, CA
    	mapTypeId: google.maps.MapTypeId.ROADMAP
	};
   	map = new google.maps.Map(document.getElementById('map_canvas'), myOptions);


	if ($('#challenge_location').val() != '') {
		center_map(map);
	}

	$('#challenge_location').blur( function() {
		center_map(map);
	});	
	
});

function center_map(map) {
	var geocoder = new google.maps.Geocoder();
	var address = $.trim(address = $('#challenge_location').val().replace(/[\t\n\r]/gi, ""));
	    geocoder.geocode( { 'address': address}, function(results, status) {
	      if (status == google.maps.GeocoderStatus.OK) {
	        map.setCenter(results[0].geometry.location);
	        var marker = new google.maps.Marker({
	            map: map,
	            position: results[0].geometry.location
	        });
	      } else {
			console.log('Invalid Location: ' + address);
	      }
	});
}
</script>

<%= form_for(@challenge) do |f| %>
  <% if @challenge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@challenge.errors.count, "error") %> prohibited this challenge from being saved:</h2>
      <ul>
      <% @challenge.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<%= f.hidden_field :question_id %>
	<%= f.hidden_field :lat %>
    <%= f.hidden_field :lng %>
	<p>
		<%= f.label :title %>
		<br>
		<%= f.text_area :title, :rows=>3 %>
	</p>
	<p>
		<%= f.label :description %>
		<br>
		<%= f.text_area :description, :rows=>3 %>
	</p>
	<p>
		<%= f.label :location %>
		<br>
		<%= f.text_area :location, :rows=>2 %>
		<br>
		<div id="map_canvas"></div>
	</p>
	<p>
	    <%= f.label :submission_deadline, "Submission Deadline" %>
		<br>
	    <%= f.datetime_select :submission_deadline %>
	</p>
	<p>
    	<%= f.label :voting_deadline , "Vote Deadline" %>
		<br>
	    <%= f.datetime_select :voting_deadline %>
	</p>
	<p>
		<%= f.label 'Categories' %>
		<br>
			<%= form_tag("/categories", :method => 'post') do %>
		 <% autocomplete_field_tag 'category', '', challenges_autocomplete_category_name_path, :size => 75 %>
			<% end %>
	</p>
	<p>
    	<%= f.label :threshold , "Threshold" %>
		<br>
	    <%= f.text_area :minimum_to_run %>
	</p>
	<%= submit_tag 'Create Your Challenge', :class => 'btn' %>
</div>
<% end %>
