<%= form_for(@challenge) do |c| %>
	  <p>
	    <%= c.label :title, "Title" %>
		<br>
	    <%= c.text_field :title %>
	  </p>
	  <p>
	    <%= c.label :description, "Description" %>
		<br>
	    <%= c.text_area :description, :rows=>3 %>
	  </p>
	  <p>
		<%= c.label :location %>
		<br>
		<%= c.text_area :location, :rows=>2 %>
	  </p>
	  <p>
	    <%= c.label :time, "Time" %><br />
	    
	  </p>
	  <p>
		<%= c.label 'Categories: ' %>
		
	  </p>
	  <p>
	    <%= c.submit "Submit" %>
	  </p>
	<p>
	<br>
	<%= c.label 'Categories' %>
	</p>
	<p>
		<%= c.text_area :categories, :rows=>3 %>
	</p>
	<p>	
		<%= c.file_field :upload, :id=>'picture', :class=>'formatted_input' %>

	</p>
	<p>
	    <%= c.label :submission_deadline, "Submission Deadline" %>
		<br>
	    <%= c.datetime_select :submission_deadline %>
	</p>
	<p>
    	<%= c.label :vote_deadline , "Vote Deadline" %>
		<br>
	    <%= c.datetime_select :voting_deadline %>
	</p>
<% end %>


