<script type="text/javascript">
$(document).ready( function() {
	var loc = '<% if User.exists? and current_user %> <%= current_user.location %> <% else %><%= @location %><% end %>';
	console.log(loc);
	var lat = 0;
	var lng = 0;
	var geocoder = new google.maps.Geocoder();
	geocoder.geocode( { 'address': loc}, function(results, status) {
	      if (status == google.maps.GeocoderStatus.OK) {
	        lat = results[0].geometry.location.lat();
			lng = results[0].geometry.location.lng();
	      	$('#map').attr('src', 'http://www.google.com/fusiontables/embedviz?viz=MAP&q=select+col2+from+1464641+&h=false&lat=' + lat + '&lng=' + lng + '&z=10&t=1&l=col2');
		}
	});
});
</script>

<div id='sidebar'>
<div id='filters_content'>
	<%= current_user %>
	<b>SORT ITEMS BY</b>
	<ul id='sort'>
		<li><%= image_tag "../images/checkbox.png" %> Most Recent</li>
		<li><%= image_tag "../images/checkbox.png" %> Most Popular</li>
		<li><%= image_tag "../images/checkbox.png" %> Following</li>
	</ul>
	<br>
	<b>KEYWORD SEARCH</b>
	<br>
	<%= image_tag "../images/textbox.png", :class=>'textbox' %>
	<br><br>
	<b>SHOW ITEMS FROM</b>
	<br>
	<%= image_tag "../images/textbox.png", :class=>'textbox' %>
	<br><br>
	<b>VIEW CATEGORIES</b>
	<ul>
		<li><%= image_tag "../images/checkbox.png" %> Commerce</li>
		<li><%= image_tag "../images/checkbox.png" %> Civil Rights</li>
		<li><%= image_tag "../images/checkbox.png" %> Health & Safety</li>
		<li><%= image_tag "../images/checkbox.png" %> History</li>
		<li><%= image_tag "../images/checkbox.png" %> Kids/Education</li>
		<li><%= image_tag "../images/checkbox.png" %> Public Space</li>
		<li><%= image_tag "../images/checkbox.png" %> Transportation</li>
	</ul>
</div>
</div>
<iframe id='map' width="720px" height="720px" scrolling="no"></iframe>