<script type="text/javascript">
$(document).ready( function() {
	var loc = '<% if User.exists? and current_user %> <%= current_user.location %> <% else %><%= @location %><% end %>';
	var lat = 0;
	var lng = 0;
	var center;
	var map;
	var tableID = 2029434;
	var geocoder = new google.maps.Geocoder();
	geocoder.geocode( { 'address': loc}, function(results, status) {
	      if (status == google.maps.GeocoderStatus.OK) {
	        lat = results[0].geometry.location.lat();
			lng = results[0].geometry.location.lng();
			
			center = new google.maps.LatLng(lat, lng);
			map = new google.maps.Map(document.getElementById('mapview_map'), {
			  center: center,
			  zoom: 12,
			  mapTypeId: google.maps.MapTypeId.ROADMAP
			});
			
			var fusion_layer = new google.maps.FusionTablesLayer({
				query: {
					select: 'Location',
					from: tableID
				},
				styles: [{
					where: "table = 'questions'",
					markerOptions: {
						iconName: "large_green"
					}
				}, {
					where: "table = 'challenges'",
					markerOptions: {
						iconName: "large_blue"
					}
				}, {
					where: "table = 'events'",
					markerOptions: {
						iconName: "large_red"
					}
				}],
				map: map
			});
			
			// var legendDiv = document.createElement('DIV');
			// 		  	var legend = new Legend(legendDiv, map);
			// 		  	legendDiv.index = 1;
			// 		  	map.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(legendDiv);

		}
	});
});
// function Legend(controlDiv, map) {
//   // Set CSS styles for the DIV containing the control
//   // Setting padding to 5 px will offset the control
//   // from the edge of the map
//   controlDiv.style.padding = '5px';
// 
//   // Set CSS for the control border
//   var controlUI = document.createElement('DIV');
//   controlUI.style.backgroundColor = 'white';
//   controlUI.style.borderStyle = 'solid';
//   controlUI.style.borderWidth = '1px';
//   controlUI.title = 'Legend';
//   controlDiv.appendChild(controlUI);
// 
//   // Set CSS for the control text
//   var controlText = document.createElement('DIV');
//   controlText.style.fontFamily = 'Arial,sans-serif';
//   controlText.style.fontSize = '12px';
//   controlText.style.paddingLeft = '4px';
//   controlText.style.paddingRight = '4px';
//   
//   // Add the text
//   controlText.innerHTML = '<b>Butterflies*</b><br />' +
//         '<img src="http://maps.google.com/mapfiles/ms/micons/red-dot.png" /> Battus<br />' +
//         '<img src="http://maps.google.com/mapfiles/ms/micons/yellow-dot.png" /> Speyeria<br />' +
//         '<img src="http://maps.google.com/mapfiles/ms/micons/green-dot.png" /> Papilio<br />' +
//         '<img src="http://maps.google.com/mapfiles/ms/micons/blue-dot.png" /> Limenitis<br />' +
//         '<img src="http://maps.google.com/mapfiles/ms/micons/purple-dot.png" /> Myscelia<br />' +
//         '<small>*Data is fictional</small>';
//   controlUI.appendChild(controlText);
// }
</script>
<body onload="initialize()">
<div id='sidebar'>
<div id='filters_content'>
	<b>SORT ITEMS BY</b>	
	<br>

	<ul id='sortby'>
	<li>
	  <%= check_box_tag 'sort', 'recent' %> Most Recent
	</li>
	<!--<li>
	  <%= check_box_tag 'sort', 'popular' %> Most Popular
	</li>--> 
	<li>
	 <%= check_box_tag 'sort', 'following' %> Following
	</li>
	</ul>
	<br>
	<b>SHOW</b>
	<ul id='sort_by_type'>
	<li>
	  <%= check_box_tag 'sort', 'Questions' %> Questions
	</li>
	<li>
	  <%= check_box_tag 'sort', 'Challenges' %> Challenges
	</li>
	<li>
	 <%= check_box_tag 'sort', 'Events' %> Events
	</li>

	</ul>
	<br>
	<b>KEYWORD SEARCH</b>
	<br>
	<%= image_tag "../images/textbox.png", :class=>'textbox' %>
	<br><br>
	<b>SHOW ITEMS FROM</b>
	<br>
	<%= image_tag "../images/textbox.png", :class=>'textbox' %>
	<br><br>
	<b>VIEW CATEGORIES</b>
	<ul id='categories'>
	<% for category in Categories.find(:all) %>
	<li>
	  <%= check_box_tag 'category', category.id %>
	  <%= category.category %>
	</li>
	<% end %>
	</ul>
	<br>
	<%= check_box_tag 'uncheck', 'Uncheck All' %> Uncheck All
</div>
</div>
<div id='mapview_map'></div>
</body>