<style type="text/css">
html {
        background: url('../images/splash_background.png') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}
</style>

<script type="text/javascript">
$.fn.center = function (top_offset) {
	window_width =  $(window).width() > 500 ? $(window).width() : 500;
    this.css("position","absolute");
	this.css("top", ($('.splash_box').position().top + top_offset)  + 'px');
    this.css("left", ((window_width - this.outerWidth()) / 2) + $(window).scrollLeft() + "px");
    return this;
}
$(document).ready(function() {
	center_elements();
	
	$(window).resize(function() {
		center_elements();
	});
	
	function center_elements() {
		window_height =  $(window).height() > 700 ? $(window).height() : 700;
		window_width =  $(window).width() > 500 ? $(window).width() : 500;
		$('.splash_box').center();
	   	$('.splash_box').css("top", ((window_height - $('.splash_box').outerHeight()) / 2) + "px");
		$('.username').center(90);
		$('.email').center(200);
		$('.password').center(310);
		$('.re_password').center(420);
		$('#links').center(550);
		
		$('#username_input').center(120);
		$('#email_input').center(230);
		$('#password_input').center(340);
		$('#re_password_input').center(450);
		
		$('#username_prompt').center(80);
		$('#username_prompt').css("left", ($('.username').position().left + 10) + "px");
		$('#email_prompt').center(190);
		$('#email_prompt').css("left", ($('.email').position().left + 10) + "px");
		$('#password_prompt').center(300);
		$('#password_prompt').css("left", ($('.password').position().left + 10) + "px");
		$('#re_password_prompt').center(410);
		$('#re_password_prompt').css("left", ($('.re_password').position().left + 10) + "px");
	}
	
	$('#username_input').tbHinter({
		text: 'Username',
		class: 'gray_text'
	});
	
	$('#email_input').tbHinter({
		text: 'Email',
		class: 'gray_text'
	});
	
	$('#password_input').tbHinter({
		text: 'Password',
		class: 'gray_text'
	});
	
	$('#re_password_input').tbHinter({
		text: 'Re-enter password',
		class: 'gray_text'
	});
	
 });
</script>
<%= image_tag "../images/splash_box.png", :class=>'splash_box' %>
<%= image_tag "../images/splash_textbox.png", :class=>'username' %>
<%= image_tag "../images/splash_textbox.png", :class=>'email' %>
<%= image_tag "../images/splash_textbox.png", :class=>'password' %>
<%= image_tag "../images/splash_textbox.png", :class=>'re_password' %>

<div class="labels">
	<div id="username_prompt">Enter a User ID</div>
	<div id="email_prompt">Email Address</div>
	<div id="password_prompt">Password</div>
	<div id="re_password_prompt">Re-enter Password</div>
</div>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
   <%= f.text_field :login, :size => 18, :id=>'username_input', :class=>'formatted_input' %>
   <%= f.text_field :email, :size => 18, :id=>'email_input', :class=>'formatted_input' %>
   <%= f.password_field :password, :size => 18, :id=>'password_input', :class=>'formatted_input' %>
   <%= f.password_field :password_confirmation, :size => 18, :id=>'re_password_input', :class=>'formatted_input' %>
	<div id="links">
		<%=link_to "Cancel", home_splash_path %>
		<span class="formatted_button">
			<%= f.submit %>
		</span>
	</div>
<% end %>