<div id='header'>
<div id='icon_title'>
<%= link_to image_tag("../images/splash_logo_temp.png", :class=>'navbar_logo', :size=>'85x85', :alt => "Logo"), summary_path %>
<%= link_to image_tag("../images/title.png", :class=>'navbar_title', :size=>'265x75', :alt => "City Sandbox"), summary_path %>
</div>

<span id="user_nav">
  <% if !current_user.nil? %>
  	<a href="/logout" class="link_logout gray_text">Log Out</a>
	<br>
	<a href="/edit_profile" class="link_logout gray_text">Edit Profile</a>
	<% if params[:controller] != "inbox" && params[:controller] != "sent" %>
		<br>
		<a href="/messages/inbox" class="link_logout gray_text">Inbox</a >
	<% end %>
  <% else %>
  	<a href="/login" class="link_login gray_text">Log In</a>
  <% end %>
</span>

<div id='header_tabs'>
	<div id='map_view'>
	<% if params[:controller] == "discussion" && params[:action] == "summary" %>
		<%= link_to 'Map View', map_path, :class=>'gray_text' %>
	<% else %>
		<%= link_to 'Summary View', summary_path, :class=>'gray_text' %>
 	<% end %>
	</div>
	<% if params[:controller] != "questions" || (params[:action] != 'new') %>
	<div id='ask_question'>
		<%= link_to 'Ask a question!', new_question_path, :class=>'gray_text' %>
	</div>
	<% end %>
</div>
</div>

