



<div class="row" id="navbar">
      <div class="span3">
        <%= image_tag("logo.png") %>
      </div>
      <div class="span9">
        <div class="row">
          <div class="span3 offset7">
            <%= link_to "Register", questions_new_path %>
            &nbsp;&nbsp;|&nbsp;&nbsp;
           <%= link_to "Login", questions_new_path %>
            </div>
        </div>
        <div class="row">
          <div class="span3 offset1">
            <h2>Now exploring: </h2>
          </div>
          <div class="span3">
            <form class="navbar-form pull-left navform">
                <input type="text" class="span3" name="mainBox" id="mainBox" value="Berkeley, CA" onchange="setBoxes(this.value)">
            </form>
          </div>
        </div>
        <div class="row">
          <div class="navbar">
            <div class="navbar-inner">

              <ul class="nav">
                <li><%= link_to "Ask Questions", questions_new_path %></li>
                <li><%= link_to "Connect to Others", groups_path %>Connect to Others</a></li>
                <li><%= link_to "Post Challenges", new_challenges_path %>Post Challenges</a></li>
                <li><%= link_to "Organize Events", new_events_path %>Organize Events</a></li>
                <li><a href="projects">Projects</a></li>
              </ul>

            </div>
          </div>
        </div>
      </div>
    </div>

