
<script type='text/javascript'>
 var autocomplete;
var input;
$(document).ready( function() {
	input = $('#mainBox')[0];
	autocomplete = new google.maps.places.Autocomplete(input);
});
</script>


<div class="row" id="navbar">
      <div class="span3">
        <%= image_tag("logo.png") %>
      </div>
      <div class="span9">
        <div class="row">
          <div class="span3 offset7">
            <%= link_to "Register", :action => :new, :controller => :users %>
           &nbsp;|&nbsp; 
      <% if current_user.nil? %>
           <%= link_to "Login", :action => :new, :controller => :sessions %>
      <% else %>
       <%= link_to "Logout", :action => :destroy, :controller => :sessions %>
      <% end %>
	  <br>
	  <%= link_to "My inbox", :action => :show, :controller => :inbox %> 
	&nbsp;|&nbsp; 
		  <%= link_to "Profile", :controller => :users, :action => :profile, :user => current_user %> 
            </div>
        </div>
        <div class="row">
          <div class="span3 offset1">
            <h2>Now exploring: </h2>
          </div>
          <div class="span3">
            <form class="navbar-form pull-left navform">
                <input type="text" class="span3" name="mainBox" id="mainBox" value="Berkeley, CA">
            </form>
          </div>
        </div>
        <div class="row">
          <div class="navbar">
            <div class="navbar-inner">

              <ul class="nav">
                <li> <%= link_to "Ask Questions", :controller => :questions, :action => :new %> </li>
                <li> <%= link_to "Connect to Others", :controller => :groups, :action => :index %>Connect to Others %> </li>
                <li> <%= link_to "Post Challenges", :controller => :challenges,:action => :new %> </li>
                <li> <%= link_to "Organize Events", :controller => :events, :action => :new %> </li>
                <li><a href="projects">Projects</a></li>
              </ul>

            </div>
          </div>
        </div>
      </div>
    </div>

